<div class="col-md-4">
	<h2 class="files-backu-heading">Select Files</h2>
	<div class="well" id="directoryListingContainer" style="margin-left: 15px;">
    	<div id="directoryListing">
        </div>
    </div>
</div>
<div class="col-md-8">
	<h2 class="files-backu-heading">Select Tables</h2>
	<div class="well" style="margin-left: 15px;">
  	<table class="form tableSelector">
        	<tr>
            	<td class="tableList" valign="top">
            		<table class="tableWrapper">
                		<tr>
                    		<td valign="top">
                        		<ul class="databaseTablesList">
					           		{% for i, tableName in tables_to_backup %}
										{% set className = ' allTable' %}
										{% set found = false %}
										{% set break = false %}
										{% for category in tables_to_backup %}
											{% if category in tableName == 0 and not break %}
												{% set className = ' ' ~ category ~ 'Table' %}
												{% set found = true %}
												{% set break = true %}
											{% endif %}
										{% endfor %}
										{% if found %}
											{% set className = ' otherTable' %}
										{% endif %}
							        <li>
                                    	<div class="tableName{{ className }}">
                                        	<input type="checkbox" class="select-table" value="{{ tableName }}" id="BackupTable{{ i }}" name="AnyPort[Backup][Tables][BackupTable{{ i }}]" />
                                            <label for="BackupTable{{ i }}">{{ tableName }}</label>
							            </div>
                                   	</li>
					            	{% endfor %}
                                    <li class="actionButtons">
                                    	<a href="javascript:void(0)" class="selectAllTables btn btn-success">Select All</a>
										<a href="javascript:void(0)" class="deselectAllTables btn btn-warning">Deselect All</a>
                                    </li>
            	        		</ul>
                        	</td>
                    	</tr>
                	</table>
            	</td>
          	</tr>
       	</table>
<script>
	$('.selectAllTables').click(function() {
		$('input[class*=\'select-table\']').attr('checked', true);
	});

	$('.deselectAllTables').click(function() {
		$('input[class*=\'select-table\']').attr('checked', false);
	});
</script>
    </div>
</div>
<script>
var cwd = '{{ cwd }}';
var dir_listing = [];
var dirListingObj = $('#directoryListing');
var progressLogObj = $('#processLog');
var progressBarObj = $('#progressBar');
var progressBarMsgObj = $('#progressBarMsg');
var processFinished = true;
var progressLastRun = false;
var lastPrintedMessage = '';
var initialRun = 1;
var selected_paths = [];
var lastZipResponse = {};
var isPaused = false;

function populate_dir_listing(entries) {
	dirListingObj.empty();

	if (entries.dirs) {
		var dir_html = '';
		for (x in entries.dirs) {
			if (entries.dirs[x].name == '../') {
				dir_html += '<div><label for="'+x+'"><a class="dir-listing-entry" data-key="'+x+'"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></label></div>';
			} else {
				dir_html += '<div class="checkbox"><input type="checkbox" class="selected-to-zip" name="targetEntries" value="'+entries.dirs[x].absolute_path+'" id="'+x+'" /><label for="'+x+'"><i class="fa fa-folder"></i>&nbsp;<a class="dir-listing-entry" data-key="'+x+'">'+entries.dirs[x].name+'</a></label></div>';
			}

		}
		dirListingObj.append(dir_html);
	}

	if (entries.files) {
		var files_html = '';
		for (x in entries.files) {
			files_html += '<div class="checkbox"><input class="selected-to-zip" type="checkbox" name="targetEntries" value="'+entries.files[x].absolute_path+'" id="'+x+'" /><label for="'+x+'"><i class="fa fa-file"></i>&nbsp;'+entries.files[x].name+'</label></div>';
		}
		dirListingObj.append(files_html);
	}
}

function get_dir_listing(target_dir) {
	target_dir = target_dir ? target_dir : '';
	$.ajax({
		url: 'index.php?route={{ module_path }}/listDirectory&user_token={{ user_token }}',
		type: 'GET',
		data: {
			dir: target_dir
		},
		dataType: 'json',
		success: function(resp) {
			if (!resp.error) {
				cwd = resp.cwd;
				dir_listing = resp.entries;
				populate_dir_listing(dir_listing);
			} else {
				swal({
				    title: 'Error:',
				    text: resp.msg,
				    type: 'error'
				});
			}
		}
	});
}

$(document).on('click', '.dir-listing-entry', function(e){
	e.preventDefault();
	var key = $(this).attr('data-key');
	if (dir_listing.dirs[key]) {
		get_dir_listing(dir_listing.dirs[key].absolute_path);
	}
});

$(document).ready(function(){
	get_dir_listing(cwd);
});
</script>
